<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&key=AIzaSyCneDEsLSux8dEXwmH3tA8gm6tjol3p2KE&libraries=geometry&language=en"></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

<style>
.sasa{
text-align:center;
color:#ff0000;
white-space:nowrap;
}
.sas{
text-align:center;
font-size:50pt;
color:#ff0000;
white-space:nowrap;
}
</style>
<div class="sasa">

<span class="sas">MyIP is:<%=@ip%></span>
<hr>
<p class="sas">GeoIp:<%=@info%></p>
<p class="sas">Your Country:<%=@info.country_name%></p>
<p class="sas">Your Timezone:<%=@info.timezone%></p>
  </div>
  <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%=@info.latitude%>,
      "lng": <%=@info.longitude%>,
      "picture": {
        "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
        "width":  32,
        "height": 32
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});

</script>
